.navbar {
  display: flex;
  height: 95px;
  align-items: center;
  
}

.logo {
  font-size: 30px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  color: #0290FF;
  margin-left: 100px;
}